<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Profile</title>
    <link rel="stylesheet" href="/profile.css">
</head>
<body>
    <nav class="top-nav">
        <a href="/" id="home-link">Home</a>
        <a href="/weather" id="weather-link">Weather API</a> 
        <a href="/news" id="news-link">News API</a>
        <a href="/currency" id="currency-link">Currency API</a>
        <a href="/history" id="history-link">History</a>
        <a href="/profile" id="profile-link">Profile</a>
        <a href="/logout" id="logout-link">Log out</a>
    </nav>
    <h1>Admin Profile</h1>
    <h2>All User Profiles</h2>
    <ul>
        <% users.forEach(user => { %>
            <li>
                <h3>User Profile</h3>
                <div class="profile-info">
                    <form action="/profile/edit" method="post">
                        <p><strong>Username:</strong> <%= user.username %></p>
                        <p><strong>User status:</strong> <%= user.admin_status %></p>
                        <p><strong>Password:</strong> <%= user.password %></p>
                        <p><strong>Creation Date:</strong> <%= user.creation_date %></p>
                        <p><strong>Update Date:</strong> <%= user.update_date %></p>
                        
                        <label for="newUsername">New Username:</label>
                        <input type="text" id="newUsername" name="newUsername" required><br>
                    
                        <label for="newPassword">New Password:</label>
                        <input type="password" id="newPassword" name="newPassword" required><br>
                    
                        <button type="submit">Save Changes</button>
                        <input type="hidden" name="userId" value="<%= user._id %>">
                    </form>    
                    <% if (user.admin_status === 'regular') { %>
                        <form action="/profile/delete" method="post">
                            <input type="hidden" name="userId" value="<%= user._id %>">
                            <button type="submit">Delete user account</button>
                        </form>
                    <% } %>  
                </div>
            </li>
        <% }); %>
    </ul>
    <footer>
        <p>Alisher Khairullin SE-2207.</p>
    </footer>
</body>
</html>
